.news {
    height: 216px;
    word-wrap: break-word;
    overflow: auto;
}

.card-content {
    height: 145px;
}

.card .card-content {
    padding: 10px;
}

.card .card-action {
    padding: 10px 10px 1px 10px;
}

.card .row {
    margin: 0 0 10px 0;
}

.clickable {
    cursor: pointer;
}

.btn-small {
    width: 30px;
    height: 30px;
}

.icon-header {
    font-size: 20px !important;
    line-height: 30px !important;
}

.input-header input {
    font-weight: bold;
    font-size: 15px !important;
    padding-left: 0px !important;
    width: 150px;
}

.team-selected {
    background-color: #ccc !important;
}

.blue-grey.darken-1.is-solved {
    background-color: green !important;
}

.country-flag {
    width: 25px;
    padding: 2px;
}

.categories {
    text-align: center;
}

.categories span.badge {
    float: initial;
    padding: 3px 6px;
    cursor: pointer;
}