.news {
    height: 216px;
    word-wrap: break-word;
    overflow: auto;
}

.card-content {
    height: 110px;
}

.card .card-content {
    padding: 10px;
}

.card .card-action {
    padding: 10px 10px 1px 10px;
}

.card .row {
    margin: 0 0 10px 0;
}

.clickable {
    cursor: pointer;
}